
.body{
    font-family: 'Cabin', sans-serif;
    font-size:1em;
}
.texto_navbar_logo{
    font-family: 'Lobster', cursive;
    font-size:2.3em;
}

.texto_foto{
    margin-top:10.0em;
    font-family: 'Oswald', sans-serif;
    font-size:3.5em;
    text-align: center;
    color:white;
}

.linea_foto{
    width:40%;
    border-width:5px;
    color:white;
    text-align:center;
    background-color:white;
}

.texto_descripcion{
    font-size:1.25em;
    text-align: center;
}

.linea_texto{
    width:10%;
    border-width:3px;
    color: #373a3c;
    background-color:#373a3c;
    text-align:center;
}

.linea_proyectos{
    width:10%;
    border-width:5px;
    color:white;
    text-align:center;
    background-color:white;
}

.texto_experiencia{
    font-family: 'Oswald', sans-serif;
    font-size:3.0em;
    text-align: center;
}


.fondo_proyectos{
    background-color: #473f3f;

}

.fondo_footer{
    background-color: #411418;
    text-align: center;
}

.fab{
    color:white;
}


.carousel-indicators{
    top:33em;
}


.carousel-indicators li{
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color:black;
}

.carousel-control-prev-icon{
    background-color:rgb(54, 53, 53);
    width: 2.3em;
    height: 2.3em;
}

.carousel-control-next-icon{
    background-color:rgb(54, 53, 53);
    width: 2.3em;
    height: 2.3em;
}