
.body{
    font-family: 'Cabin', sans-serif;
}
.texto_navbar_logo{
    font-family: 'Lobster', cursive;
    font-size:2.3em;
}

.texto_foto{
    margin-top:10.0em;
    font-family: 'Oswald', sans-serif;
    font-size:3.5em;
    text-align: center;
    color:white;
}

.linea_foto{
    width:40%;
    border-width:5px;
    color:white;
    text-align:center;
    background-color:white;
}

.texto_descripcion{
    font-size:1.25em;
    text-align: center;
}

.linea_texto{
    width:10%;
    border-width:3px;
    color: #373a3c;
    text-align:center;
}



.fondo_footer{
    background-color: #dc3545;

}

.texto_footer_logo{
    font-family: 'Lobster', cursive;
}

.carousel-indicators{
    top:200px;
}


.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:black;
}